/* -- Navbar -- */
.Navbar {
	background-color: #B70C03 !important;
}

.Yelp-logo {
  	height: 70px;
  	margin-left: 80px;
}

.ContactButtons {
	margin-right: 40px;
}

.redBackground {
	background-color: #B70C03 !important;
	color: white !important;
}

.searchButton {
	margin: 10px !important;
}

input {
	border-radius: 2px;
	height: 19px;
}

.SignButtons {
	margin-right: 60px;
}


/* -- Restaurant Page --- */
.TwoColumns {
	display: inline-table;
	color: blue;
}

.RestaurantInfo {
	justify-content: left;
}

.ReviewsListItem {
	margin-top: 30px; 
	width: 40% !important;
}

/* -- Contact Page -- */
.Contact {
  margin-top: 50px;
  margin-left: 95px;
  margin-right: 100px;
  text-align: left;
}

.Contact-intro {
  font-size: 30px;
}

.Contact-email {
  font-size: 15px;
}


/* -- About Page --*/
.About {
  margin-top: 50px;
  margin-left: 95px;
  margin-right: 100px;
  text-align: left;
}

.About-intro {
  font-size: 30px;

}

.About-text {
  font-size: 15px;

}